html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to right bottom,
    rgb(240, 237, 82),
    rgb(228, 153, 42)
  );
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

section {
  width: 75%;
  min-height: 100vh;
  background-color: rgba(245, 245, 245, 0.9);
  margin: 0 auto;
  padding: 5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

.text {
  text-align: center;
  font-size: 1.6rem;
}
.score {
  text-align: end;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(197, 194, 39);
  padding-bottom: 2rem;
}

.all_questions {
  padding: 0 15rem;
}

.question {
  font-size: 2rem;
  margin: 5rem auto 0;
  font-weight: 600;
}

.answers {
  font-weight: 400;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 5rem;
}
.answers > p {
  padding: 1rem 2rem;
  width: fit-content;
}
.answer {
  cursor: pointer;
}

.answer:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  background-color: whitesmoke;
  transform: translateY(-0.25rem);
}

.answer:active {
  transform: translateY(0.25rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  background-color: whitesmoke;
}

.right {
  background-color: rgb(39, 240, 39);
  border-radius: 2rem;
}
.wrong {
  background-color: rgb(240, 79, 39);
  border-radius: 2rem;
}
