html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

/* input section */

.main_section {
  width: 80%;
  height: 75%;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0 auto 15rem;
}

.inputs {
  width: 50%;
  padding: 5rem;
  padding-right: 10rem;
  background-color: rgba(43, 174, 226, 0.199);
  display: flex;
  flex-direction: column;
  align-items: start;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.inputs__text {
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem;
}

.inputs__layout {
  display: grid;
  grid-template-columns: 0.75fr 2fr 1fr;
  gap: 1rem;
}

input {
  border: none;
  border-bottom: 2px solid rgb(43, 174, 226);
  background: none;
  font-size: 2rem;
  outline: none;
}

.inputs__type {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(43, 174, 226);
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 1rem 2.5rem;
  margin-top: 5rem;
  font-size: 2.5rem;
  color: whitesmoke;
  text-transform: capitalize;
  cursor: pointer;
  background-image: linear-gradient(
    to right bottom,
    rgb(55, 195, 250),
    rgb(22, 90, 117)
  );
}

/* Results section */

.results {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle__main {
  height: 75%;
  width: 75%;
  border: 5px solid white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: rgba(32, 201, 173, 0.5);
}

.wave {
  width: 250%;
  height: 250%;
  position: absolute;
  border-radius: 50rem;
  left: -75%;
  top: -200%;
  transition: all 0.5s;
}

.wave_1 {
  z-index: 1;
  background-color: rgba(245, 245, 245, 0.8);
  animation: rotate 8.5s linear infinite;
  transform: rotate(150deg);
}
.wave_2 {
  z-index: 2;
  background-color: rgba(245, 245, 245, 0.5);
  animation: rotate 8.75s linear infinite;
  transform: rotate(100deg);
}
.wave_3 {
  z-index: 3;
  background-color: rgba(245, 245, 245, 0.25);
  animation: rotate 8.25s linear infinite;
  transform: rotate(45deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.test_result {
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 12.5em;
  text-shadow: 0 0 2rem rgba(129, 129, 129, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}
.results__text {
  font-size: 5rem;
}
