:root {
  --small_shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Geneva, Tahoma, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #69d2e7, #e0e4cc);
  user-select: none;
  color: whitesmoke;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.forecasting {
  margin: 2.5rem auto;
  width: max-content;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 4rem 6rem;
  border-radius: 1rem;
  box-shadow: var(--small_shadow);
}

/* input */
.get_weather {
  display: flex;
  align-items: center;
  border-bottom: 0.2rem solid #69d2e7;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}
.input_name {
  border: none;
  width: 50rem;
  border-radius: 5rem;
  padding: 2rem;
  outline: none;
  font-size: 2rem;
  box-shadow: var(--small_shadow);
}

.search {
  border: none;
  background-color: transparent;
  padding: 1.5rem 5rem;
  background-color: #69d2e7;
  margin-left: -10.5rem;
  border-radius: 3rem;
  box-shadow: var(--small_shadow);
  z-index: 5;
}

.icon_search {
  width: 3rem;
  height: 3rem;
  fill: whitesmoke;
}
.search:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

/* weather  */

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 1.6rem;
  border-bottom: 2px solid #69d2e7;
  padding-bottom: 4rem;
  position: relative;
}
.current_temp {
  grid-column: 1 /-1;
  font-size: 10rem;
  font-weight: 500;
  line-height: 1;
  margin: 5rem auto;
  z-index: 5;
}
.current_temp span {
  font-size: 3.2rem;
}

.weather_icon {
  position: absolute;
  top: -8.5rem;
  right: 0.5rem;
  z-index: 0;
  height: 25rem;
  width: 25rem;
  /* filter: brightness(50%); */
  user-select: none;
}
/* city_details */

.city_details {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  margin: 2rem auto;
}
.cityname {
  grid-row: 1/-1;
  font-size: 4.8rem;
  text-align: start;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding-left: 3rem;
}
.sun {
  font-size: 1.6rem;
}
/* extra_info */
.extra_info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  border-top: 3px solid #69d2e7;
  /* margin-top: 3rem; */
  padding-top: 2rem;
}

/* utilities */
.icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: white;
}
.center {
  display: flex;
  align-items: center;
  gap: 1rem;
}
